[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "CryptoSwift"]
	path = CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
